div {background-color: black;
	color: white;}
	
	.image-container {
		background-color: gray;
		display: inline-block;
		text-align: center;
		margin: 20px;
	}
	
	.image-container img {
		max-width: 100%;
		height: auto;
	}
	.image-container p {
		margin-top: 10px;
		font-size: 16px;
	}
	.image-container a{
		color: white;
		text-decoration: none;
	}